@{
    Layout = LayoutModel.BaseCrudPage;
    ViewBag.Title = "CRUD - Example Page";
}
@section Search
{
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Code">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Name">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Partnumber">
    </div>
}
@section Scripts
    {
    var variableFromSearchView = "VariableFromSearchView";
}