@{
    Layout = LayoutModel.BaseLayoutPage;
}
<!-- Search -->
<div class="row" id="rowSearch">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="form-inline">
                    <div class="col-md-11">
                        @RenderSection("Search", false)
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button id="btnSearch" name="btnSearch" type="button" class="btn btn-danger">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Result -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Basic example</h4>
            </div>
            <div class="panel-body">
                <div id="tblResult" class="table-responsive">
                    <partial name="_ResultTable" model=ViewBag.PartialModel />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="document" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmCrudModal" asp-action="Save">
                <div class="modal-body">
                    <div id="crudPanel" class="col-md-12"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSaveModal" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
@RenderBody()
@section Scripts
    {
    <script type="text/javascript">
        $("#btnSearch").click(function () {
            $("#tblResult").load(urlResult, function (response, status, xhr) {
                if (xhr.status == 200) {
                    $(".btn-crud-edit").click(function () {
                        var fullUrl = urlEdit + "/" + $(this).attr("crud-id");
                        $("#crudPanel").load(fullUrl, function (response, status, xhr) {
                            if (xhr.status == 200) {

                            }
                        });
                        /*
                        $("btnSaveModal").click(function () {
                            var xhr = $.ajax({url: urlSave,method : "POST"})
                                .done(function () {
                                    alert("sucess");
                                })
                                .fail(function () {
                                    alert("fail");
                                })
                                .always(function () {
                                    alert("complete");
                                });
                        });
                        */
                    });
                    $(".btn-crud-delete").click(function () {
                        var url = urlDelete + "/" + $(this).attr("crud-id");
                        alert("remove " + url + " ?");
                    });
                }
                else {
                    var msg = "Sorry but there was an error: ";
                    alert(msg);
                }
            });
        });
    </script>
    @RenderSection("Scripts", false)
}